## Question 21
### __int()__: Constructor that takes as input a pair of Point objects that represent the ends points of the line segment

### Length():: returns the length if the segment 

### Slope() returns the slope of the segment of none if the slope is unbounded 

 

#### >>> p1 = Point(3,4)

#### >>> p2 = Point()

#### >>> s = Segment(p1,p2)

#### >>> s.length()

#### 5.0

#### >>> s.slope()

#### 0.75

In [41]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, point1, point2):
        self.point1 = point1
        self.point2 = point2

    def length(self):
        return math.sqrt((self.point1.x - self.point2.x)**2 + (self.point1.y - self.point2.y)**2)

    def slope(self):
        if self.point2.x - self.point1.x == 0:
            return None
        return (self.point2.y - self.point1.y) / (self.point2.x - self.point1.x)

print(s.length())  # Output: 5.0
print(s.slope())  # Output: 0.75

5.0
1.3333333333333333

## Question 22


###  In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



##### +---------------+---------+
#####  | Column Name   | Type    |
##### +---------------+---------+
##### | id            | int     |
##### | recordDate    | date    |
##### | temperature   | int     |
##### +---------------+---------+
#### id is the column with unique values for this table.
#### This table contains information about the temperature on a certain day.
 
 

### Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

### Return the result table in any order.

#### Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

### Input: 
### Weather table:
##### +----+------------+-------------+
##### | id | recordDate | temperature |
##### +----+------------+-------------+
##### | 1  | 2015-01-01 | 10          |
##### | 2  | 2015-01-02 | 25          |
##### | 3  | 2015-01-03 | 20          |
##### | 4  | 2015-01-04 | 30          |
##### +----+------------+-------------+
### Output: 
##### +----+
##### | id |
##### +----+
##### | 2  |
##### | 4  |
##### +----+
### Explanation: 
#### In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
#### In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [18]:
%load_ext sql
%sql sqlite://

In [19]:
%%sql
CREATE TABLE IF NOT EXISTS weather (
    id INT,
    recordDate DATE,
    Temperature INT
);

 * sqlite://
Done.

[]

In [36]:
%%sql

INSERT INTO Weather (id, recordDate, temperature)
VALUES
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30);

 * sqlite://
4 rows affected.

[]

In [21]:
%%sql
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = date(w2.recordDate, '+1 day')
WHERE w1.Temperature > w2.Temperature

 * sqlite://
Done.

[(2,), (4,)]

## Question 23
### In a jupyter notebook solve the following question using python. Please upload the notebook to GitHub and provide the link submission box below.



### Develop a recursive function tough() that takes two nonnegative integer arguments and outputs a pattern as shown below. Hint: The first argument represents the indentation of the pattern, where the second argument -- always a pattern of 2 indicates the number *s in the longest line of *s in the pattern

In [30]:
def f(indent, num):
    if(num > 0):
        f(indent, num//2);
        print(" "* indent + "*"*num);
        f(indent + num//2, num//2);

f(0,0)
print("=====================")
f(0,1)
print("=====================")
f(0,2)
print("=====================")
f(0,4)

=====================
*
=====================
*
**
 *
=====================
*
**
 *
****
  *
  **
   *